body {
	max-width: 920px;
	margin: auto;
	margin-bottom: 1%;
	margin-top: 1%;
	font-family: 'Garamond', sans-serif;
	background-color: #1B1D24;
	color: whitesmoke;
}

h1 {
	font-size: 500%;
	font-family: 'Garamond', sans-serif;
	text-align: center;
	font-style: italic;
}

h2 {
	/* font-size: 16px; */
	font-family: 'Garamond', sans-serif;
}

h3 {
	text-decoration: underline;
}

a {
    text-decoration: none !important;
    color: whitesmoke !important;
	/*font-family: 'Garamond', sans-serif;*/
	/*font-size: 150%;*/
}

button {
    background-color: #3e207e;
    border: 2px solid whitesmoke;
    transition-duration: 0.5s;
    border-radius: 12px;
    color: whitesmoke;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 200%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    max-width: 80%;
}

button:hover {
    background-color: #8f7bba;
    border: 2px solid whitesmoke;
    border-radius: 12px;
    color: whitesmoke;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 215%;
}

ul {
    list-style: none;
    text-align: center;
}

.pp {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.en_fr {
	text-align: right;
	font-size: 125%;
	margin-right: 1%;
}

.blur {
	filter: blur(10px);
	-webkit-filter: blur(10px);
}

/*Differents colors may use in the site*/
.bluishGreen{
	color: rgb(0,158,115);
}
.black{
	color: black;
}
.orange {
	color: rgb(230,159,0);
}
.skyblue {
	color: rgb(86, 180, 233);
}
.yellow {
	color: rgb(240, 228, 66);
}
.blue {
	color: rgb(0, 144, 178);
}
.vermillion {
	color: rgb(213, 94, 0);
}
.reddishPurple {
	color: rgb(204, 121, 167);
}
