@charset "utf-8";
.container #hero {
    background-image: url(images/hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container header {
    background-color: hsla(0,0%,91%,1.00);
    color: hsla(0,0%,0%,1.00);
}
header a .logo {
    color: hsla(0,0%,0%,1.00);
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}
ul li a {
    color: hsla(0,0%,0%,1.00);
}
.container .banner {
    background-image: url(images/paralax.jpg);
    text-align: right;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: hsla(0,0%,100%,1);
    background-repeat: no-repeat;
	max-width: auto;
}

.container header nav {
    background-color: hsla(0,0%,91%,1.00);
    color: hsla(0,0%,0%,1.00);
}

.container #about {
    background-image: -webkit-linear-gradient(147deg,rgba(143,105,78,1.00) 0%,rgba(237,142,58,1.00) 100%);
    background-image: -moz-linear-gradient(147deg,rgba(143,105,78,1.00) 0%,rgba(237,142,58,1.00) 100%);
    background-image: -o-linear-gradient(147deg,rgba(143,105,78,1.00) 0%,rgba(237,142,58,1.00) 100%);
    background-image: linear-gradient(303deg,rgba(143,105,78,1.00) 0%,rgba(237,142,58,1.00) 100%);
}
.container #hero div {
    background-color: hsla(0,0%,100%,1.00);
	background-position: center;
	border-radius: 15px;
	margin-left: 20%;
	margin-right: 20%;
}
#hero div .tagline {
    color: hsla(0,0%,0%,1.00);
}

#hero div .hero_header {
    color: hsla(0,0%,0%,1.00);
}
#Tableau_01 {
    text-align: center;
    margin-left: 75px;
}
header .logo img {
    max-height: 80%;
    max-width: 80%;
}
